@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap');
.container{
    min-width: 100%;
    min-height: fit-content;
 
}.row{
    margin-top: -1.38em;
    background-image: url(krish-pigeon.png);
    background-repeat: no-repeat;
    background-position-y:3em;
    background-position-x: center;
    position: fixed;
    background-attachment: fixed;
    min-width:100%;
    min-height: 100%;
    z-index: 0;
}#overlay {
    
    position:fixed ; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    min-height: 100%; /* Full height (cover the whole page) */
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  
  }.text{
    
      text-align: left;
    padding-left: 1%;
    padding-right: 1%;
    letter-spacing: 2px;
    position: relative ;
    font-size: large;
    z-index: 3;
      color: whitesmoke;
      font-family: 'Baloo Tammudu 2', cursive;
       /* Sit on top of the page content */
      min-width: 100%; /* Full width (cover the whole page) */
      min-height: 100%; /* Full height (cover the whole page) */
   
      
  }.cake{
      width: 30%;
      margin-top: 10.5%;
      transform: rotate(340deg);
                                                                                                                             
  }.btn{
      border-radius: 2em;
      width: 40%;
      height: 3em;
      background-color:darkgray;
      color: whitesmoke;
      cursor: pointer;
      float: left;
     
  }.btn:hover{
      background-color: whitesmoke;
      color: black;
  }.eyes{
      width: 40%;
      
  }.footer{
      position: relative;
      padding-top:0.5em;
      padding-left: 1em;
      width: 100%;
     min-height:max-content ;
      background-color: black;
      margin-top: auto;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: medium;   
  }.pro{
      width: 50%;
      height: 5em;
      border-radius: 1.1em;
      background-color: rgba(236, 153, 0, 0.993);
      cursor: pointer;
  }